@import url("default.css");

body {
  background-color: var(--color-light);
  font-family: var(--font-display);
}

.button {
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  color: white;
  width: 50%;
  height: 5vh;
  border: 0;
}

body.dark {
  background-color: var(--color-dark);

}

.footer {
  height: 10vh;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img {
  height: 4vh;
}


.container-menu {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)),
    url(/assets/DAIMU_011.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: white;
  border-bottom: 0.5px solid var(--color-golden);
}

.home-title {
  font-size: 42px;
}

.navbar {
  background-color: var(--color-dark);
  opacity: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  border-bottom: 0.5px solid var(--color-golden);
  z-index: 1000;
}
.navbar h1 {
  font-size: 36px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* Estilo do Botão Hambúrguer (só aparece em mobile) */
#hamburguer {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: block;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.nav-menu li a:hover {
  background-color: #575757;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* SECTION 2 ORIGEM*/

#origem {
  border-bottom: 0.5px solid var(--color-golden);
}

.our-story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)), url("https://lh3.googleusercontent.com/aida-public/AB6AXuDp8Vlfd28gLf6HR9CA-NeLZJBfa4LzkKGroFsbhX10xByKqx-YRj-Ux3dXqUEBMpLyi7-dwzkUQ9jDH0ggs_ZeD4yThO-nZErzR-nPNz79el70NzoTacnpAi7LU8RzXBkoU1nShxY0_qZNAE606eJg0U4dxqMc6PW9LZrKj-vFcuSJv1wfU9IT-hxw-1K1W4IiNgHhlHaEbBWGoZU55La0I_fUHwdz_9TuygGYa8vZaYfTnnQJUT_tjDFsuAYtFmjljTn5phk4");
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column-reverse;
}

.our-story>h1 {
  padding: 0 0 20px 40px;
  font-size: 56px;
}

.our-philosophy h2 {
  font-size: 36px;
  color: var(--color-golden);
  padding-top: 10%;
}

.our-philosophy p {
  font-size: 20px;
  padding: 0 10%;
}

.imagem-arredondada {
  border-radius: 10px !important;
  overflow: hidden;
}

/* SECTION 3 GALERIA */

#galeria {
  border-bottom: 0.5px solid var(--color-golden);
}

.imagem-principal {
  margin-top: 5vh;
  margin-bottom: 1vh;
  background-image: url(/assets/DAIMU_011.JPG);
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-principal>h1 {
  font-size: 76px;
  font-weight: 600;
}


.imagem-principal>p {
  font-size: 22px;
  font-weight: 600;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vh;
  justify-content: center;
}

.fotos img {
  border-radius: 10px !important;
  overflow: hidden;
}

/* SECTION 4 MENU */

#menu {
  border-bottom: 0.5px solid var(--color-golden);
  height: 120vh;
  margin-top: 3vh;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.titulo h1 {
  font-size: 36px;
  font-weight: 600;
}

.titulo p {
  font-size: 20px;
  padding: 0 10%;
}

.sequencia-lacarte {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequencia-lacarte h2 {
  color: var(--color-golden);
}

/* Section 5 evento */

#evento {
  border-bottom: 0.5px solid var(--color-golden);
}

#evento h2 {
  font-size: 46px;
  color: var(--color-golden);
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  border-bottom: 0.5px solid var(--color-light);
}

.titulos .tab-title {
  color: var(--color-light);
  cursor: pointer;

  border-bottom: 2px solid transparent;
  padding-bottom: 10px;

  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.titulos .tab-title:not(.titulo-ativo):hover {
  color: var(--color-primary);
}

.titulo-ativo {
  border-bottom-color: var(--color-primary);
  color: var(--color-primary) !important;
}

.espacos-evento .description {
  padding: 5vh 0;

}

.titulo-ativo {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary) !important;
  cursor: pointer
}

.box-evento {
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 5vh 0;
  text-align: center;
}

.box-evento h3 {
  color: var(--color-light) !important;
  font-size: 32px;
}

.box-evento p {
  color: var(--color-light);
  padding-bottom: 3vh;
}

.box-evento button {
  width: 70% !important;
}

/* Section 6 form */
#form {
  height: 100vh;
  border-bottom: var(--color-golden);
}

.form-titulo {
  text-align: left;
  border-bottom: 0.5px solid var(--color-light);
}

.form-titulo>h2 {
  color: var(--color-primary);
  font-size: 46px;
}

.inputs {
  width: 100%;
  padding: 5vh 0;
}

.input-text {
  padding: 0 0 2vh 0;
}



input {
  border-radius: 10px;
  border: 0.5px solid var(--color-light);
  width: 100%;
  height: 5vh;
  padding: 0 2vh;
  background-color: transparent;
  color: var(--color-light);
}

.input-text p {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 0 !important;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    left: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-dark);
    max-width: 50%;
    width: 250px;
  }

  .nav-menu li {
    text-align: rigth;
    width: 100%;
    border-bottom: 1px solid rgba(241, 239, 239, 0.2);
  }

  .nav-menu.is-open {
    max-height: 500px;
  }

  .navbar {
    height: 70px;
    
  }

  .titulos h3 {
    font-size: 22px !important;
  }

}

/* Desktop */
@media screen and (min-width: 769px) {
  #hamburguer {
    display: none;
  }

  .nav-menu {
    display: flex !important;
  }

  .our-philosophy img {
    width: auto;
    padding: 0 30px;
  }

  .description {
    padding: 60px;
    justify-content: center;
    align-items: center;
  }

  .our-story>h1 {
    padding: 0 0 20px 10%;
    font-size: 76px;
  }

  .imagem-principal {
    height: 70vh;
  }

  .owl-carousel .owl-item {
    width: 24% !important;
  }

  .fotos img {
    height: 100%;
    padding: 8px 2px;
  }

  .sequencia-lacarte {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menus {
    width: 48%;
  }

  .titulo h1 {
    font-size: 76px;
    font-weight: 600;
  }

  #menu {
    height: 90vh;
  }

  .input-text p {
    font-size: 28px;
  }

  .box-evento button {
    width: 70% !important;
  }
}