@import url("default.css");

body {
  background-color: var(--color-light);
  font-family: var(--font-display);
}

button {
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  color: white;
}

body.dark {
  background-color: var(--color-dark);

}

.container-menu {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)),
    url(/assets/DAIMU_011.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  z-index: 1;
  color: white;
}

.navbar {
  background-color: var(--color-dark);
  opacity: 1;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* Estilo do Botão Hambúrguer (só aparece em mobile) */
#menu {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: block;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.nav-menu li a:hover {
  background-color: #575757;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* SECTION 2 ORIGEM*/

#origem {
  height: 100vh;
}

.our-story {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDp8Vlfd28gLf6HR9CA-NeLZJBfa4LzkKGroFsbhX10xByKqx-YRj-Ux3dXqUEBMpLyi7-dwzkUQ9jDH0ggs_ZeD4yThO-nZErzR-nPNz79el70NzoTacnpAi7LU8RzXBkoU1nShxY0_qZNAE606eJg0U4dxqMc6PW9LZrKj-vFcuSJv1wfU9IT-hxw-1K1W4IiNgHhlHaEbBWGoZU55La0I_fUHwdz_9TuygGYa8vZaYfTnnQJUT_tjDFsuAYtFmjljTn5phk4");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 20vh;
}




@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    left: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-dark);
    max-width: 50%;
    width: 250px;
  }

  .nav-menu li {
    text-align: rigth;
    width: 100%;
    border-bottom: 1px solid rgba(241, 239, 239, 0.2);
  }

  .nav-menu.is-open {
    max-height: 500px;
  }

  .navbar {
    height: 60px;
  }

  .navbar::after {
    
  }
}


@media screen and (min-width: 769px) {
  #menu {
    display: none;
  }

  .nav-menu {
    display: flex !important;
  }

}